/* contact.html stylesheet */
.flex-container {
    display: flex;
    margin: 2vh 20vw;
}

.formContainer {
    height: 120vh;
    margin: 5vh 35vw;
}

#name-label {

}

#name {

}

#email-label {

}

#email {

}

#dropdown-label {

}

#dropdown {

}

#contactMethod {

}

#callMethod {

}

#callMethodLabel {

}

#textMethod {

}

#textMethodLabel {

}

#emailMethod {

}

#emailMethodLabel {
    
}