/* index.html stylesheet */
* {
    box-sizing: border-box;
}

/* HERO IMAGE CODE STARTS */
.heroImage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../img/lakehero.png);
    height: 80vmin;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-bottom: 4px solid white;
}

.heroText {
    display: inline-block;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    position: absolute;
}
/* HERO IMAGE CODE ENDS */
figure {
    margin: 0;
}

/* Adjust padding between cells in future 9-17-2021 */
.grid-container {
    margin: 2vmax 2.5vmax;
    width: 50vw;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 4vmax;
    column-gap: 4vmax;
}

.grid-container-aside {
    width: auto;
    height: 480px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1vw;
}

.grid-item {
    background-color: #570019;
    border: 3px solid white;
    padding: 0px;
}

.grid-item-aside {
    background-color: #570019;
    padding: 0px;
}

.grid-photo-landscape {
    border-bottom: 3px solid white;
    width: 50vw;
    height: 50vh;
    max-width: 854px;
    max-height: 480px;
}

/* Float this left next time 9-17-2021 */
.grid-photo-portrait {
    border-right: 3px solid white;
    max-height: 480px;
}

.aside-item {
    background-color: #570019;
    border: 3px solid white;
    width: 45.5vw;
    margin: 2vmax 2.5vmax;
    padding: 0px;
    font-size: 30px;
    text-align: left;
}

.figcaption-text {
    text-align: center;
    font-size: 16px;
}

.figcaption-text a {
    color: white;
}

.figcaption-text a:hover {
    color: turquoise;
}

.grid-text {
    font-size: calc(12px + 0.25vmax);
    line-height: 1.5;
    margin: 2vh;
}