/* index.html stylesheet */

/* HERO IMAGE CODE STARTS */
.heroImage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../img/lakehero.png);
    height: 80vmin;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-bottom: 4px solid white;
}

.heroText {
    display: inline-block;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    position: absolute;
}
/* HERO IMAGE CODE ENDS */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    background-color: #570019;
    border: 3px solid white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}